@tailwind base;
@tailwind components;
@tailwind utilities;

@page {
  size: letter;
  margin: 0.5in;
}

@media print {
  body {
    margin: 0;
  }
}

.messagebox {
  min-height: 70px;
  margin-top: 40px;
  text-align: center;
  font-family: 'gergia,serif';
  font-weight: lighter;
  font-size: 60px;
}

.labelcontainer {
  margin-top: 50px;
  /* min-width: 217mm; */
  /* width: 8.27in; */
  /* height: 11.69in; */
  /* margin: 0 auto; */
  background-color: white;
  page-break-after: always;
}

.skidlabel {
  text-align: center;
  /* margin-top:300px; */
  margin-bottom: 50px;
}

.skidlabel h1 {
  font-family: 'gergia,serif';
  font-weight: lighter;
  font-size: 60px;
}

.ctp {
  margin-left: 30px;
  margin-right: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.ctp2 {
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.ctp3 {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 20px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 15px;
}
th, td {
  border: 1.5px solid black;
  padding: 8px;
  text-align: left;
}
/* Style to make the first cell transparent */
.tableone tr:first-child td:first-child {
  border:0px
}

.tableone tr:first-child td:nth-child(2) {
  border: 0px;
}

.tableone tr:first-child td:nth-child(3) {
  width: 80px;
  height: 30px;
}

.tableone tr:nth-child(2) td:first-child {
  width: 80px;
  height: 30px;
}

.tableone tr:nth-child(2) td:nth-child(2) {
  width: 200px;
}

.tableone tr:nth-child(2) td:nth-child(3){
  width: 80px;
  height: 30px;
}

.tableone tr:nth-child(2) td:nth-child(4) {
  width: 200px;
}

.tabletwo tr td {
  height: 30px;
  font-size: 12px;
}

.tablethree tr td {
  height: 30px;
  font-size: 12px;
}

.tabletwo tr:first-child td:first-child {
  width: 85px;
}

.tabletwo tr:first-child td:nth-child(2) {
  width: 130px;
}


.tabletwo tr:first-child td:nth-child(3) {
  width: 40px;
}

.tabletwo tr:first-child td:nth-child(4) {
  width: 80px;
}

.tabletwo tr:first-child td:nth-child(5) {
  width: 100px;
}

.windownote {
  font-family: 'Courier New', Courier, monospace;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.tablethree tr:first-child td:first-child {
  width: 85px;
}

.tablethree tr:first-child td:nth-child(2) {
  width: 130px;
}

.tablethree tr:first-child td:nth-child(3) {
  width: 40px;
}

.tablethree tr:first-child td:nth-child(4) {
  width: 80px;
}

.tablethree tr:first-child td:nth-child(5) {
  width: 100px;
}

.footerone {
  font-size: 9px;
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
}